In [1]:
import pandas as pd

In [2]:
tipos = {
    "COD. UF" : str,
    "COD. MUNIC" : str
}

dfPopulacao = pd.read_excel("../datasets/estimativa_dou_2020.xls", sheet_name="Municípios", skiprows=1, dtype=tipos)
dfPopulacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5586 entries, 0 to 5585
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   UF                  5584 non-null   object
 1   COD. UF             5570 non-null   object
 2   COD. MUNIC          5570 non-null   object
 3   NOME DO MUNICÍPIO   5570 non-null   object
 4   POPULAÇÃO ESTIMADA  5570 non-null   object
dtypes: object(5)
memory usage: 218.3+ KB

In [3]:
dfPopulacao

,UF,COD. UF,COD. MUNIC,NOME DO MUNICÍPIO,POPULAÇÃO ESTIMADA
0,RO,11,00015,Alta Floresta D'Oeste,22728
1,RO,11,00023,Ariquemes,109523
2,RO,11,00031,Cabixi,5188
3,RO,11,00049,Cacoal,85893
4,RO,11,00056,Cerejeiras,16204
...,...,...,...,...,...
5581,(8) População judicial do município de Ferreir...,NaN,NaN,NaN,NaN
5582,(9) População judicial do município Coronel Jo...,NaN,NaN,NaN,NaN
5583,(10) População judicial do município Ibiassucê...,NaN,NaN,NaN,NaN
5584,(11) População judicial do município de Rodela...,NaN,NaN,NaN,NaN
5585,(12) População judicial do município de Vera C...,NaN,NaN,NaN,NaN

In [4]:
colunas = {
    "UF" : "uf",
    "COD. UF": "codigo_uf",
    "COD. MUNIC" : "codigo_municipio",
    "NOME DO MUNICÍPIO": "nome_municipio",
    "POPULAÇÃO ESTIMADA" : "populacao"
}


dfPopulacao.rename(columns=colunas, inplace=True)
dfPopulacao

,uf,codigo_uf,codigo_municipio,nome_municipio,populacao
0,RO,11,00015,Alta Floresta D'Oeste,22728
1,RO,11,00023,Ariquemes,109523
2,RO,11,00031,Cabixi,5188
3,RO,11,00049,Cacoal,85893
4,RO,11,00056,Cerejeiras,16204
...,...,...,...,...,...
5581,(8) População judicial do município de Ferreir...,NaN,NaN,NaN,NaN
5582,(9) População judicial do município Coronel Jo...,NaN,NaN,NaN,NaN
5583,(10) População judicial do município Ibiassucê...,NaN,NaN,NaN,NaN
5584,(11) População judicial do município de Rodela...,NaN,NaN,NaN,NaN
5585,(12) População judicial do município de Vera C...,NaN,NaN,NaN,NaN

In [5]:
dfPopulacao.dropna(inplace=True)
dfPopulacao

      uf codigo_uf codigo_municipio         nome_municipio populacao
0     RO        11            00015  Alta Floresta D'Oeste     22728
1     RO        11            00023              Ariquemes    109523
2     RO        11            00031                 Cabixi      5188
3     RO        11            00049                 Cacoal     85893
4     RO        11            00056             Cerejeiras     16204
...   ..       ...              ...                    ...       ...
5565  GO        52            22005             Vianópolis     13977
5566  GO        52            22054         Vicentinópolis      8873
5567  GO        52            22203               Vila Boa      6312
5568  GO        52            22302          Vila Propício      5882
5569  DF        53            00108               Brasília   3055149

[5570 rows x 5 columns]

In [6]:
dfPopulacao["populacao"] = dfPopulacao["populacao"].replace({r"(\d+)(.*)" : r"\1"}, regex=True)

dfPopulacao["municipioIBGE"] = dfPopulacao["codigo_uf"] + dfPopulacao["codigo_municipio"]

In [8]:
dfPopulacao.to_csv("../datasets/populacao_tratada.csv", sep=";", index=False)

In [9]:
dfPopulacao

,uf,codigo_uf,codigo_municipio,nome_municipio,populacao,municipioIBGE
0,RO,11,00015,Alta Floresta D'Oeste,22728,1100015
1,RO,11,00023,Ariquemes,109523,1100023
2,RO,11,00031,Cabixi,5188,1100031
3,RO,11,00049,Cacoal,85893,1100049
4,RO,11,00056,Cerejeiras,16204,1100056
...,...,...,...,...,...,...
5565,GO,52,22005,Vianópolis,13977,5222005
5566,GO,52,22054,Vicentinópolis,8873,5222054
5567,GO,52,22203,Vila Boa,6312,5222203
5568,GO,52,22302,Vila Propício,5882,5222302
5569,DF,53,00108,Brasília,3055149,5300108