In [1]:
import pandas as pd 
import eland as ed

In [2]:
dfCovidMA = pd.read_csv("../datasets/dados_ma_tratados.csv", delimiter=";")
dfCovidMA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997928 entries, 0 to 997927
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                997928 non-null  int64
 1   �id                       997928 non-null  object
 2   dataNotificacao           996897 non-null  object
 3   dataNascimento            997928 non-null  object
 4   sintomas                  997484 non-null  object
 5   condicoes                 91433 non-null   object
 6   tipoTeste                 806270 non-null  object
 7   resultadoTeste            706051 non-null  object
 8   sexo                      997922 non-null  object
 9   estado                    997928 non-null  object
 10  estadoIBGE                997928 non-null  int64
 11  municipio                 997922 non-null  object
 12  municipioIBGE             997846 non-null  float64
 13  municipioNotificacao      997907 non-null  object
 14  municipioNotificacaoIBGE  997070 non-null  float64
 15  idade                     997924 non-null  float64
 16  evolucaoCaso              211417 non-null  object
 17  classificacaoFinal        217605 non-null  object
dtypes: float64(3), int64(2), object(13)
memory usage: 137.0+ MB

In [3]:
dfCovidMA.head(3)

,Unnamed: 0,�id,dataNotificacao,dataNascimento,sintomas,condicoes,tipoTeste,resultadoTeste,sexo,estado,estadoIBGE,municipio,municipioIBGE,municipioNotificacao,municipioNotificacaoIBGE,idade,evolucaoCaso,classificacaoFinal
0,0,AbEVo5S4nX,2020-03-30T03:00:00.000Z,undefined,Tosse,NaN,NaN,NaN,Masculino,MARANH�O,21,S�o Lu�s,2111300.0,S�o Lu�s,2111300.0,55.0,NaN,NaN
1,1,ozHhVSzSdq,2020-04-06T13:17:27.512Z,undefined,"Febre, Tosse, Dispneia, Outros",NaN,NaN,NaN,Masculino,MARANH�O,21,Imperatriz,2105302.0,Imperatriz,2105302.0,47.0,NaN,NaN
2,2,6KJS2Qdpq2,2020-04-01T03:00:00.000Z,undefined,"Dor de Garganta, Dispneia, Febre, Tosse",NaN,NaN,NaN,Feminino,MARANH�O,21,S�o Lu�s,2111300.0,S�o Lu�s,2111300.0,37.0,NaN,NaN

In [4]:
edCovid = ed.pandas_to_eland(dfCovidMA, "http://elastic:changeme@192.168.0.114:9200", "covid-dados", es_if_exists="replace", es_dropna=True, es_refresh=True)