In [5]:
import pandas as pd 
import eland as ed

In [6]:
dfPopulacao = pd.read_csv("../datasets/populacao_tratada.csv", delimiter=";")
dfPopulacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uf                5570 non-null   object
 1   codigo_uf         5570 non-null   int64
 2   codigo_municipio  5570 non-null   int64
 3   nome_municipio    5570 non-null   object
 4   populacao         5570 non-null   int64
 5   municipioIBGE     5570 non-null   int64
dtypes: int64(4), object(2)
memory usage: 261.2+ KB

In [7]:
dfPopulacaoMa = dfPopulacao[dfPopulacao["uf"] == "MA"]
dfPopulacaoMa.head(5)

,uf,codigo_uf,codigo_municipio,nome_municipio,populacao,municipioIBGE
450,MA,21,55,Açailândia,113121,2100055
451,MA,21,105,Afonso Cunha,6578,2100105
452,MA,21,154,Água Doce do Maranhão,12652,2100154
453,MA,21,204,Alcântara,22112,2100204
454,MA,21,303,Aldeias Altas,26757,2100303

In [8]:
dfPopulacao.head(3)

,uf,codigo_uf,codigo_municipio,nome_municipio,populacao,municipioIBGE
0,RO,11,15,Alta Floresta D'Oeste,22728,1100015
1,RO,11,23,Ariquemes,109523,1100023
2,RO,11,31,Cabixi,5188,1100031

In [9]:
edPopulacao = ed.pandas_to_eland(dfPopulacaoMa, "http://elastic:changeme@192.168.0.114:9200", "covid-populacao", es_if_exists="replace", es_dropna=True, es_refresh=True)