In [1]:
import pandas as pd

In [2]:
dfConvidMA = pd.read_csv("../datasets/dados-ma.csv", delimiter=";")

In [3]:
dfConvidMA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997928 entries, 0 to 997927
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   �id                       997928 non-null  object
 1   dataNotificacao           996897 non-null  object
 2   dataInicioSintomas        992513 non-null  object
 3   dataNascimento            997928 non-null  object
 4   sintomas                  997484 non-null  object
 5   profissionalSaude         996330 non-null  object
 6   cbo                       54189 non-null   object
 7   condicoes                 91433 non-null   object
 8   estadoTeste               964313 non-null  object
 9   dataTeste                 789349 non-null  object
 10  tipoTeste                 806270 non-null  object
 11  resultadoTeste            706051 non-null  object
 12  paisOrigem                997928 non-null  object
 13  sexo                      997922 non-null  object
 14  estado                    997928 non-null  object
 15  estadoIBGE                997928 non-null  int64
 16  municipio                 997922 non-null  object
 17  municipioIBGE             997846 non-null  float64
 18  origem                    997928 non-null  object
 19  estadoNotificacao         997926 non-null  object
 20  estadoNotificacaoIBGE     997926 non-null  float64
 21  municipioNotificacao      997907 non-null  object
 22  municipioNotificacaoIBGE  997070 non-null  float64
 23  excluido                  997928 non-null  object
 24  validado                  997928 non-null  object
 25  idade                     997924 non-null  float64
 26  dataEncerramento          195240 non-null  object
 27  evolucaoCaso              211417 non-null  object
 28  classificacaoFinal        217605 non-null  object
dtypes: float64(4), int64(1), object(24)
memory usage: 220.8+ MB

In [4]:
dfConvidMA.drop(columns=['dataInicioSintomas','profissionalSaude','cbo','dataTeste', 'estadoTeste','paisOrigem','origem','paisOrigem','estadoNotificacao','estadoNotificacaoIBGE','excluido','validado','dataEncerramento'], inplace=True)
dfConvidMA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997928 entries, 0 to 997927
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   �id                       997928 non-null  object
 1   dataNotificacao           996897 non-null  object
 2   dataNascimento            997928 non-null  object
 3   sintomas                  997484 non-null  object
 4   condicoes                 91433 non-null   object
 5   tipoTeste                 806270 non-null  object
 6   resultadoTeste            706051 non-null  object
 7   sexo                      997922 non-null  object
 8   estado                    997928 non-null  object
 9   estadoIBGE                997928 non-null  int64
 10  municipio                 997922 non-null  object
 11  municipioIBGE             997846 non-null  float64
 12  municipioNotificacao      997907 non-null  object
 13  municipioNotificacaoIBGE  997070 non-null  float64
 14  idade                     997924 non-null  float64
 15  evolucaoCaso              211417 non-null  object
 16  classificacaoFinal        217605 non-null  object
dtypes: float64(3), int64(1), object(13)
memory usage: 129.4+ MB

In [5]:
dfConvidMA.to_csv("../datasets/dados_ma_tratados.csv", sep=";")